<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Ingrese credenciales</h5>
                    <form action="/admin/login/auth" method="POST">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="usuario" id="usuario"
                                placeholder="Leandro...">
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Clave...">
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                ¡Entrá!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>