.container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    /* default 0 */
    order: 4;
    justify-content: start;
    align-items: baseline;
  }
  
  .toasts {
    flex: 0 1 24%;
    margin: 5px;
    width: 500px;
    height: 250px;
    background-color: rgb(248, 247, 247);
  }
.logoNotificaciones{
    height: 25px;
    width: auto;
}