
.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    display: inline-flex;
    flex-direction: column;
    align-items: center;    
}

.persona {
    border: 3px solid rgb(222, 226, 220);
    border-radius: 5px;
    width: 23%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona img {
    border-radius: 50%;
    max-width: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.persona h5{
    width: 15%;
    padding-right: 10px;
    box-sizing: border-box;
}
.persona h6{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 5px;
}

.persona h6{
    font-size: 11px;
    font-style: italic;
}

.persona p{
    color: #666;
    font-size: 10px;
}