/*
font-family: 'Akshar', sans-serif; font-family: 'Ms Madi', cursive; font-family: 'Open Sans', sans-serif;
*/

body{
  font-family: 'Akshar', sans-serif;
  font-size: 18px;
  }

header{
  padding: 18px 0;

}

.logoNotificaciones{
  size: 10px;
}